body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;

  legend{
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  

  }

  #email{
    width: 30rem;  
  }
  #name{
    width: 30rem;  
  }
  #password{
    width: 30rem;  
  }
  .field{ padding: 1.5rem; }

  button{
    padding: 1rem;
    background: rgb(55, 55, 250);
    border-radius: 8px;
    color: white;
  }
  
}
